@{
    ViewBag.Title = "Engagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>How we got engaged</h1>

<p class="daniel"><span id="daniel-tag">Daniel</span> Marjo went away for two years of Bear Grylls-style African adventure. She became noctural and developed a keen sense of smell. She often ran down wildebeasts as a food source. Then she moved back to start her job in Houston, gradually reacclimating to society and the English language.</p>

<p class="daniel">Finally both out of college and in the same country! We decided we should talk about The Future. We agreed that we wanted to be together, but I let Marjo know that I was poor; that I needed to save my nickles and dimes, and that we should probably be living in the same city before we made permanent commitments.</p>

<p class="daniel">In fact, I <em>was</em> poor &ndash; namely, I had just spent all my money on an engagement ring. Nevertheless (ihavenoideahowthishappened) Marjo formed the impressions that an engagement was a far-off prospect.</p>

<p class="daniel">I formed my plot thusly: An indoor tournament could bring Marjo to Austin on my target weekend. I entered a bid, and made sure that she knew she was playing on my team.</p>

<p class="daniel">She came into town on Friday night. I was a little panicked watching thunderstorm after thunderstorm roll through Austin; my plans were outside and I didn't really have an alternative. My alarm went off at 5-something in the morning and I walked outside expecting the worst. I could see the thunderstorms had passed. The sky was clear and felt incredibly clean, as if cleansed by the rain.</p>

<p class="daniel">I went to wake Marjo up, coffee in hand. Not the easiest thing to do before six in the AM. She was, um, groggy.</p>

<p class="marjo"><span id="marjo-tag">Marjo</span>  He said "Let's go on an adventure." I think I was so out of it I just went along with it. If I had been a little more awake I might not have.</p>

<p class="daniel">She was very trusting. She got in the car without ever asking where we were going. She wasn't even grumpy. We drove into the hills of northwest Austin. Days before I had driven a high, winding road, sparsely populated, with an unbelievable east-facing view. We parked here, and I led Marjo off the side of the road up a little path. Two tree branches curtained a small ledge beyond which the hills dropped steeply. Here we found a blanket spread, picnic-style, with champagne on ice, orange juice, coffee &ndash; courtesty of my co-conspirator @Html.ActionLink("David", "WeddingParty", "Wedding").</p>

<p class="marjo">I was surprised, but not suspicious. I even told him, "It's a good thing you're doing stuff like this now, that way I won't be suspicious when you propose." He just said, "Yeah, good thing."</p>

<p class="daniel">We made some mimosas, reclined on the blanket, enjoyed the superlative weather. I swear to you, this was the single best weather day of the entire year in Austin. I'm not sure if I've ever felt the air cleaner or crisper, or seen the sky such a rich shade of blue. Perfect.</p>

<p class="marjo">He was laying behind me, and he says "This is for you," and reaches around to hand me a card. It's a print of an MS Paint drawing that I made before we were dating: a white and a brown stick figure, together in his old beater truck. Watching fireworks.</p>

<p class="daniel">She had captioned it "We're going somewhere wonderful now." I loved that. I dug up the old file and got it printed.</p>

<p class="marjo">I opened it and it had a short message that ended with the question, "Will you marry me?" I turned around, confused, and he was kneeling. He asked me again, "Will you marry me?" It wasn't really processing. The first words that came out were "Are you serious?" He was a little caught off guard by my reaction.</p>

<p class="daniel">I was on one knee, holding a ring. In all the months that I pictured this moment, I hadn't stopped to consider that her first reaction might just be skepicism. I said, "Yes, I'm serious. I'm on one knee and this is a real ring." She had been looking at my face &ndash; she hadn't seen the ring. She realized that some response was needed. "Yes, of course," she said. "...but are you serious?" That was a yes! Or close enough! I put the ring on her finger. I was elated. We hugged, then kissed for the first time as an engaged couple.</p>

<p class="marjo">At first I was just too confused to even really be happy. As we sat there, it started to slowly sink in that I had just gotten engaged. I called my parents and told them the news. We had some champagne. I decided I was very happy about this. Daniel told me how David helped and that we were meeting him for breakfast. We drove to Trudy's near campus. When we walked in, the place was already full of friends.</p>

<p class="daniel">Marjo has great friends. I called up a bunch of them, and they agreed to meet at like eight in the morning on a Saturday. Several of them even drove in from Houston just to be there for breakfast. This was a chance for us to celebrate with close friends. And give Marjo her first chance to show off the ring.</p>

<p class="marjo">Girls squeed. Becca cried.</p>

<p class="daniel">We spent the rest of the day relaxing with friends, enjoying the beautiful weather, being in love. Without a doubt, it was the best single day of my life so far. I'm pretty sure it is soon to be topped, though.</p>


