@{
    ViewBag.Title = "How We Met";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>How we started dating</h1>

<p class="daniel"><span id="daniel-tag">Daniel</span> We both played club Ultimate Frisbee in college. Everybody knows how that one works out: You see each other around, you flirt, you watch them play to make sure they're not horrible, etc. Only it didn't quite work out that way for us. Because although Marjo played for the women's team, I had no idea who she was. @Html.ActionLink("Melissa", "WeddingParty", "Wedding") invited us both to a <a href="http://www.originalalamo.com/signature.aspx?id=15" target="_blank">Mister Sinus Theater</a> Christmas show. I thought Marjo was a shy but super-cute engineer &ndash; but I was apparently not too quick on the uptake, since I never realized she also played Ultimate. Some of you are probably laughing at the thought of shy Marjo. In retrospect that really kind of shocks me too.</p>

<p class="daniel">Anyway, like a dumbo, I was surprised when I ran into her during the spring season at a tournament. She just kind of shook her head at me. We spent all evening dancing together at a tournament party in College Station, our first real hang-out since the Christmas show. From that point on, I nursed a growing crush. For, like, a <em>long</em> time. But we still became close friends by the end of the schoolyear.</p>

<p class="daniel">Marjo returned to Dallas for a summer internship, but we continued to pine for each other in secret. We texted and instant-messaged.</p>

<p class="marjo"><span id="marjo-tag">Marjo</span> At the time, he wasn't sure if I liked him. It wasn't until years later that I told him about some of my more embarrassing moments &ndash; like seeing his name on my caller ID for the first time, and literally jumping up and down with excitement before composing myself and answering. Or the Microsoft Paint pictures of the two of us together that I drew instead of working.</p>

<p class="marjo">He helped me move into my apartment when school started back up. I called him for help when my car got a flat tire. I didn't really need the help &ndash; I can change a tire. It was an excuse to get him to come over. I thought I was being obvious with my I-like-you signals.</p>

<p class="daniel">In retrospect, she probably couldn't have made it much more obvious that she was interested in me. I was just incredibly oblivious. So much so that most of our friends knew before I did. In fact, flying back from a fall tournament, Marjo's teammate Sarah bet her cookies that I liked her. Marjo was skeptical; I had pretty much failed to make any kind of move. As it turned out, Marjo would lose that bet in a matter of hours. I picked her up from the airport, we had a late-night meal at Kerbey Lane cafe.</p>

<p class="marjo">Kerbey Lane was a better choice than when Daniel was dropping me off after a party the previous spring. He asked me if I wanted to get some Ken's donuts. I don't like donuts. I told him no. It turned out that he didn't really care about the donuts &ndash; he just wanted to hang out with me some more.</p>

<p class="daniel">While dropping her off that night I screwed up my courage and kissed her. She kissed back! And then I promptly asked her out on our first date. She said yes! She showed up! We kept dating! It was awesome!</p>
