@{
    ViewBag.Title = "Pictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" />
}

@section scripts {
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.fancybox-1.3.4.pack.js")"></script>
<script type="text/javascript">
    $("a.fancybox").fancybox();
</script>
}

<h1>Engagement Pictures</h1>

<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5201/5200076795_7edbb6695d_b.jpg"><img src="http://farm6.static.flickr.com/5201/5200076795_7edbb6695d_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5125/5200078071_9544f3493b_b.jpg"><img src="http://farm6.static.flickr.com/5125/5200078071_9544f3493b_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5245/5200078979_dbc48c5406_b.jpg"><img src="http://farm6.static.flickr.com/5245/5200078979_dbc48c5406_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4104/5200081321_5d935a2bbe_b.jpg"><img src="http://farm5.static.flickr.com/4104/5200081321_5d935a2bbe_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5208/5200675428_76990a9d4f_b.jpg"><img src="http://farm6.static.flickr.com/5208/5200675428_76990a9d4f_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5046/5200084429_bdb5b121ec_b.jpg"><img src="http://farm6.static.flickr.com/5046/5200084429_bdb5b121ec_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5209/5200678644_45897890cc_b.jpg"><img src="http://farm6.static.flickr.com/5209/5200678644_45897890cc_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5042/5200087115_c2c9e1f082_b.jpg"><img src="http://farm6.static.flickr.com/5042/5200087115_c2c9e1f082_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5082/5200681482_9a41606c97_b.jpg"><img src="http://farm6.static.flickr.com/5082/5200681482_9a41606c97_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4149/5200089813_b199ea4dc0_b.jpg"><img src="http://farm5.static.flickr.com/4149/5200089813_b199ea4dc0_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4126/5200091977_ce8b69faa4_b.jpg"><img src="http://farm5.static.flickr.com/4126/5200091977_ce8b69faa4_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5004/5200686444_01a8c9cf40_b.jpg"><img src="http://farm6.static.flickr.com/5004/5200686444_01a8c9cf40_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4130/5200096223_579f87a3fc_b.jpg"><img src="http://farm5.static.flickr.com/4130/5200096223_579f87a3fc_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4147/5200690420_b304c101b7_b.jpg"><img src="http://farm5.static.flickr.com/4147/5200690420_b304c101b7_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5129/5200099145_10d74b76a4_b.jpg"><img src="http://farm6.static.flickr.com/5129/5200099145_10d74b76a4_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4133/5200692816_e77c98d6a4_b.jpg"><img src="http://farm5.static.flickr.com/4133/5200692816_e77c98d6a4_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5241/5200694092_c4f5cd7a71_b.jpg"><img src="http://farm6.static.flickr.com/5241/5200694092_c4f5cd7a71_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4087/5200102683_4e29b587bf_b.jpg"><img src="http://farm5.static.flickr.com/4087/5200102683_4e29b587bf_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5090/5200104203_443303d44e_b.jpg"><img src="http://farm6.static.flickr.com/5090/5200104203_443303d44e_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4130/5200105447_d4ac353053_b.jpg"><img src="http://farm5.static.flickr.com/4130/5200105447_d4ac353053_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5204/5200106705_713ee31850_b.jpg"><img src="http://farm6.static.flickr.com/5204/5200106705_713ee31850_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4106/5200701760_faf0b8c4cb_b.jpg"><img src="http://farm5.static.flickr.com/4106/5200701760_faf0b8c4cb_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4091/5200110629_13c8769b39_b.jpg"><img src="http://farm5.static.flickr.com/4091/5200110629_13c8769b39_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4083/5200705248_b51bfcf2cd_b.jpg"><img src="http://farm5.static.flickr.com/4083/5200705248_b51bfcf2cd_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5163/5200706618_78177ffd5d_b.jpg"><img src="http://farm6.static.flickr.com/5163/5200706618_78177ffd5d_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4111/5200115611_f1240aa44d_b.jpg"><img src="http://farm5.static.flickr.com/4111/5200115611_f1240aa44d_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4108/5200116781_4054ec51b3_b.jpg"><img src="http://farm5.static.flickr.com/4108/5200116781_4054ec51b3_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4129/5200711252_6eca39f23d_b.jpg"><img src="http://farm5.static.flickr.com/4129/5200711252_6eca39f23d_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5081/5200120675_2961a8fd25_b.jpg"><img src="http://farm6.static.flickr.com/5081/5200120675_2961a8fd25_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5042/5200122105_68b2c563b6_b.jpg"><img src="http://farm6.static.flickr.com/5042/5200122105_68b2c563b6_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4125/5200123455_0313a90787_b.jpg"><img src="http://farm5.static.flickr.com/4125/5200123455_0313a90787_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4154/5200718794_ecba131b1c_b.jpg"><img src="http://farm5.static.flickr.com/4154/5200718794_ecba131b1c_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4087/5200721062_025f6758ae_b.jpg"><img src="http://farm5.static.flickr.com/4087/5200721062_025f6758ae_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5090/5200130573_8041a1302b_b.jpg"><img src="http://farm6.static.flickr.com/5090/5200130573_8041a1302b_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4127/5200134247_d8743df9f4_b.jpg"><img src="http://farm5.static.flickr.com/4127/5200134247_d8743df9f4_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm5.static.flickr.com/4125/5200730322_98e4d7983b_b.jpg"><img src="http://farm5.static.flickr.com/4125/5200730322_98e4d7983b_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5003/5200733318_5d6807a47a_b.jpg"><img src="http://farm6.static.flickr.com/5003/5200733318_5d6807a47a_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5006/5200142619_02ae40fcb8_b.jpg"><img src="http://farm6.static.flickr.com/5006/5200142619_02ae40fcb8_s.jpg" alt=" "/></a>
<a class="fancybox" rel="kat" href="http://farm6.static.flickr.com/5010/5200144485_c8124241e6_b.jpg"><img src="http://farm6.static.flickr.com/5010/5200144485_c8124241e6_s.jpg" alt=" "/></a>

