@{
    ViewBag.Title = "Hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Accomodations</h1>

<p>We'll have a block of available rooms at the Austin Marriott South on Friday and Saturday nights (May 6th and 7th). Located at the intersection of I-35 and Highway 71, the hotel is roughly equidistant from downtown Austin, Austin International Airport, and the wedding venue. Book a room through the <a href="http://www.marriott.com/hotels/travel/ausap-austin-marriott-south/" target="_blank">Marriott website</a>, or call them at 512-441-7900.</p>

<p>Of course, if you'd prefer to stay somewhere else in Austin, that's fine too. You just won't have as much fun.</p>

<h1>About the hotel</h1>

<div id="venue-address">
    Austin Marriott South<br />
    4415 South IH-35<br />
    Austin, Texas 78744
</div>

<p>This is what the <a href="http://www.marriott.com/hotels/travel/ausap-austin-marriott-south/" target="_blank">website</a> has to say:</p>

<blockquote>&ldquo;When looking for lodging, Austin has many choices, but the shining star is the Marriott Austin South. A top choice among south Austin hotels for both business and leisure travelers, everything the city offers is just outside your doorstep. Take advantage of complimentary parking, then take the complimentary evening shuttle to explore downtown where you can marvel at the State Capitol, explore the music scene of 6th Street, and much more. Business travelers can easily visit UT, IRS, AMD, St. Edwards University of Texas, and the airport. Our on-site restaurant, the Limestone Lounge & Kitchen, invites you to kick back and relax or you can get up and go in our state-of-the-art fitness center and indoor pool/whirlpool.&rdquo;</blockquote>

<p>Hear that? It's close to the IRS! Pretty awesome.</p>

<iframe width="570" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Austin+Marriott+South&amp;aq=&amp;sll=35.101934,-95.712891&amp;sspn=58.211253,114.169922&amp;ie=UTF8&amp;hq=Austin+Marriott+South&amp;hnear=&amp;ll=30.208845,-97.75492&amp;spn=0.071946,0.071946&amp;output=embed"></iframe>

<h1>Travel</h1>

<p>We recommend <a href="http://www.kayak.com" target="_blank">Kayak</a> as a great tool to compare prices for flights and rental cars.</p>

