@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wedding registry</h1>

<p>So here's the thing with our registry. There's not that much stuff we need to get started. Daniel's already got a very well-equipped kitchen, and we're not planning to buy home furnishings until we've bought a house. You'll find some items that we need on the registry below, but fair warning: It may be slim pickings.</p>

<p>If you don't see anything suitable on the registry, but would still like to help us start our life together, we'd be honored to accept gift certificates to useful stores &ndash; Home Depot, Crate &amp; Barrel, IKEA and West Elm are good examples. A univeral gift certificate (money) is wonderful, too. We can pool gift certificates &amp; money to get the bigger things we need, since I'm sure you don't want to buy us, like, a whole couch.</p>

<h2>Bed, Bath & Beyond</h2>

<p><a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-12285592&" target="_blank">View our registry items here.</a>
