@{
    ViewBag.Title = "Venue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Banner = "content-banner-1.jpg";
}

<h1>Ceremony & reception</h1>

<p>The wedding ceremony will be Saturday, May 7th, 2011, at 5:00 pm.</p>

<p>Reception to immediately follow, until 11:00 pm.</p>

<h1>Location</h1>

<div id="venue-address">
    Hummingbird House<br />
    12805 Arroyo Doble Drive<br />
    Manchaca, Texas<br />
    <a href="http://www.hummingbirdhouse.info" target="_blank">www.hummingbirdhouse.info</a>
</div>

<p>The ceremony and reception will both be held at the beautiful Hummingbird House in Manchaca, Texas. (Manchaca's just south of Austin).</p>

<p>The ceremony and reception will be held outdoors, rain or shine, so please dress accordingly. The reception area is well-ventilated with cooling fans, so heat shouldn't be too much of a problem.</p>

<iframe width="570" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=12805+Arroyo+Doble+Drive,+Manchaca,+Texas&amp;aq=&amp;sll=30.12579,-97.823564&amp;sspn=0.006867,0.013937&amp;ie=UTF8&amp;hq=&amp;hnear=12805+Arroyo+Doble+Dr,+Manchaca,+Travis,+Texas+78652&amp;ll=30.124491,-97.818575&amp;spn=0.025983,0.036478&amp;z=14&amp;output=embed"></iframe>
