@{
    ViewBag.Title = "Wedding Party";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wedding Party</h1>

<table class="haikus" cellspacing="0">
    <thead>
        <tr>
            <th><span id="marjo-tag">Marjo</span></th>
            <th class="d"><span id="daniel-tag">Daniel</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h2>Rebecca Shelton</h2>
                <p class="haiku">
                    The Maid of Honor,<br/>
                    World Travelling B-F-F,<br/>
                    Rebecca Shelton.
                </p>
            </td>
            <td class="d">
                <h2>David Melancon</h2>
                <p class="haiku">
                    Roommate and best man<br/>
                    Plays ultimate like a boss<br/>
                    David Melancon
                </p>         
            </td>
        </tr>
        <tr>
            <td>
                <h2>Kyle Mcelroy</h2>
                <p class="haiku">
                    Met at Schlumberger,<br/>
                    Found her napping under desk,<br/>
                    Kyle Mcelroy.
                </p>
            </td>
            <td class="d">
                <h2>Josh D'Spain</h2>
                <p class="haiku">
                    My friend Josh D'Spain<br/>
                    Don't make him laugh or he will<br/>
                    spit tortilla chips
                </p>            
            </td>
        </tr>
        <tr>
            <td>
                <h2>Melissa Najarian</h2>
                <p class="haiku">
                    Roommate and teammate,<br/>
                    Melissa Najarian.<br/>
                    She introduced us.
                </p>
            </td>
            <td class="d">
                <h2>Marco Manalang</h2>
                <p class="haiku">
                    Marco Manalang<br/>
                    Red Raider plays ultimate<br/>
                    Marjo's younger bro
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Michelle Ng</h2>
                <p class="haiku">
                    Never-nude, tan lines,<br/>
                    Heart of Women's ultimate,<br/>
                    Michelle Denise Ng.
                </p>
            </td>
            <td class="d">
                <h2>Chris Passmore</h2>
                <p class="haiku">
                    Spelunking friend Chris<br/>
                    he's an awesome firefighter<br/>
                    mustache not ironic
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Mindy Rosenberg</h2>
                <p class="haiku">
                    Happy hour mate,<br/>
                    Wins best all-around weenie,<br/>
                    Mindy Rosenberg.
                </p>
            </td>
            <td class="d">
                <h2>Brian Poindexter</h2>
                <p class="haiku">
                    My little brother,<br/>
                    world traveling poker fiend<br/>
                    Brian Poindexter
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Christine Wang</h2>
                <p class="haiku">
                    Top notch fort maker,<br/>
                    College dorm partner in crime,<br/>
                    Christine Euchie Wang.
                </p>
            </td>
            <td class="d">
                <h2>Michael Poindexter</h2>
                <p class="haiku">
                    Older brother Mike<br/>
                    awesome software engineer<br/>
                    in San Fransisco
                </p>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <h2>Jess Huynh</h2>
                <p class="haiku">
                    Yay, wedding planner!<br/>
                    Definitely kept me sane,<br/>
                    Jess "Venus" Huynh.
                </p>            
            </td>
        </tr>
    </tfoot>
</table>


